.bigBox {
    background-color: plum;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.h1 {
    text-align: center;
}
.p {
    text-align: center;
}
.box2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.green {
    max-width: 60%;
    margin: auto;
    padding: 1%;
    display: inline;
    align-content: center;
}
.blue {
    max-width: 60%;
    margin: auto;
    padding: 1%;
    display: inline;
    align-content: center; 
}
.purple {
    max-width: 60%;
    margin: auto;
    padding: 1%;
    display: inline;
    align-content: center;
}
.pink {
    max-width: 60%;
    margin: auto;
    padding: 1%;
    display: inline;
    align-content: center;
}
.btn {
    background-color: aqua;
    float: left;
    width: 25%;
    height: auto;
}
